<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <svg  width = "100%" height = "300" version = "1.1">
        <rect width = "100%" height ="100%" fill = "#3d0a73" />
        <polygon points = "20,300 40,100 600,300" />
        <circle cx = "3%" cy = "100%" r = "200" fill = "#f5b105" />
        <text x = "50" y = "100" font-family = "Arial" font-size = "25" fill = "green" stroke = "black" stroke-width = "1">
        Welcome 
        <text/>
        </svg>
<nav class = "menue">
    <h1>Favorite Coding Resources</h1>
    <table bgcolor = "3d0a73">
    <caption>Resources</caption>
        <thead>
            <tr bgcolor = "white">
                <th>CODING RESOURCE</th>
                <th>LINK</th>
            </tr>
        </thead>
        
        <thead>
            <tr bgcolor="white">
                <td>Geeks For Geeks</td>
                <td><a href="https://www.geeksforgeeks.org/">https://www.geeksforgeeks.org/s</a></td>
            </tr>
        </thead>
        <thead>
            <tr bgcolor="white">
                <td>Udemy</td>
                <td><a href="https://www.udemy.com/courses/teaching-and-academics/online-education/">https://www.udemy.com/</a></td>
            </tr>
        </thead>

            <tr bgcolor="white">
                <td>Stack Over Flow</td>
                <td><a href="https://stackoverflow.com/">https://stackoverflow.com/ </a> </td>
            </tr>
    </table>

</nav>
</body>
</html>

   
   
